.container {
  min-width: 1024px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 174px;

 @include below($tablet-width) {
    min-width: 768px;
    padding: 0 45px;
  }

  @include below($mobile-width) {
    min-width: 320px;
    padding: 0 15px;
  }
}
