.page-header {
  position: relative;
  z-index: 999;
  background-color: $basic-black;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  padding: 1.2em 4em;
}

.page-header__logo {
  padding-right: 6.5em;
}

.page-header__toggle {
  display: none;
}
