.pagination {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 113px;
}

.pagination__item {
  button {
    position: relative;
    border: none;
    background-color: $transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
   }

   button::before {
    content: "";
    position: absolute;
    top: 38%;
    transform: translateY(-38%);
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 40%;
    background-color: $basic-black;
    transition: all ease-in .2s;
   }

   button:hover::before {
    border: 3px solid $accent-color;
    width: 13px;
    height: 13px;
    background-color: $transparent;
   }

   button:focus::before {
    opacity: 0.5;
   }
}

.pagination__item--current {
  button::before {
    width: 13px;
    height: 13px;
    border: 3px solid $basic-black;
    background-color: $transparent;

   }
}
