
.phone__link {
  @include font-size (1.62em, 1.2em, 700);
  position: relative;
  display: block;
  margin-top: 6px;
  color: $primary-text-color;

  &:hover,
  svg:hover {
    color: $accent-color;
  }

}

.phone__subtitle {
  @include font-size( 0.87em, 1.2em, 500);
  position: relative;
  margin: 0;
  text-align: end;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon/green-round-icon.svg");
    background-repeat: no-repeat;
  }
}
